.navbar{
    background-color: #f13a3a !important;
}

img.navbar-brand{
    height:7vh
}
.navbar-nav{
    justify-content:space-around;
    font:550 1.2rem  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-item a{
    color: #F2F2F2 
}
.nav-item>a:hover,.nav-item>.active{
    color: #272627 !important
}
.dropdown-menu{
    background-color:#eb4242;
    font: inherit;
}